.metodologiaLoader__container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
}

.metodologiaLoader__container h4{
    font-size: 45px;
   box-shadow: 0px 0px 10px black;
   padding: 20px;
   text-align: center;
   border-radius: 100px;
   background-color: #FFFFFF;
   position: relative;
   left: 0px;
   z-index: 100;
   line-height: 100%;
}

.forma{
    background-color: #0446F1;
    width: 50%;
    height: 70px;
    clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
    position: relative;
   left: -40px;
    z-index: 2;
}
.paso{
width: 180px;
/*filter: brightness(0) saturate(100%) invert(17%) sepia(10%) saturate(1432%) hue-rotate(165deg) brightness(98%) contrast(84%);*/
/* From https://css.glass */
filter: blur(6px) grayscale(100%);
-webkit-filter: blur(6px) grayscale(100%);
-moz-filter: blur(6px) grayscale(100%);
}
.paso__head{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.metodologiaLoader__container hr{
    position: absolute;
    z-index: 1;
    background-color: black;
    width: 9%;
}
.pasos__container{
    display: flex;
    justify-content: center;
}

.metodologiaLoader__container h5{
   font-weight: 700;
   padding-top: 15px;

}

.fade-out {
    filter: none;
    transition: all 1s ease-out;
  }
  @media only screen and  (max-width:850px) {
  
    .metodologiaLoader__container h4{
        font-size: 16px;
       padding: 12px;
       
    }
    
    .paso{
        width: 70px;
        
        }
    .metodologiaLoader__container h5{
            font-weight: 700;
            padding-top: 3px;
            font-size: 8px !important;
         
         }
         .forma{
            
            width: 100%;
            height: 30px;
           left: -10px;
            z-index: 2;
        }
         
  }
  
  
   